*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 1px;
}

.wrapperaboutme{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://wallpaper.dog/large/10836456.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonial{
    padding: 30px 100px;
}

article img{
    width: 300px;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 125px;
    margin-bottom: 30px;
}

h5{
    font-size: 20px;
}

blockquote{
    text-align: justify;
}

.lyric{
    text-align: center;
}

body{
    background-color: #311c0acd;
}

.wrapper{
    width: 1080px;
    margin: auto;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
    padding: 5px;
    border-bottom: 1px solid white;
}

.nav-area li{
    display: inline-block;
}

.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 73px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.nav-area li a:hover{
    background: #7c4a23af;
    color: #000;
}

.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 5.6% 30%;
    text-align: center;
}

.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-text a:hover{
    background-color: #7c4a23af;
    color: #000;
}

